@{
    ViewData["Title"] = "KMK Transport Tracker";
}

<div id="mapid" style="height: 100vh"></div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/positions.js"></script>
}
